{% extends 'base.html' %}

{% block content %}
<h1>Add Book</h1>
    <form method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author">
        </div>
        <div>
            <label for="published_year">Published Year:</label>
            <input type="number" id="published_year" name="published_year" min="0" max="9999">
        </div>
        <div>
            <input type="submit" value="Add Book">
        </div>
    </form>
{% endblock content %}