<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Galore</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('get_books') }}">All Books</a>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>