{% extends 'base.html' %}

{% block content %}
<h1>Books</h1>
<table>
    <thead>
        <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published Year</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{ url_for('get_book', book_id=book.id )}}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.published_year }}</td>
            <td><a href="{{ url_for('delete_book_confirmation', book_id=book.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <div>
        <a href="{{ url_for('add_book') }}">Add Book</a>
    </div>
</table>
{% endblock content %}