{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>
<table>
    <tbody>
        <tr>
            <td>Author:</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <td>Published Year:</td>
            <td>{{ book.published_year }}</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('delete_book_confirmation', book_id=book.id) }}">Delete</a></td>
        </tr>
    </tbody>
</table>

{% endblock content %}