{% extends 'base.html' %}

{% block content %}
    <h1>Delete Book</h1>
    <p>Are you sure you want to delete {{ book.title }}?</p>
    <form action="{{ url_for('delete_book_confirmation', book_id=book.id) }}" method="POST">
        <input type="submit" value="Delete">
        <button onclick="window.history.back(); return false;">Cancel</button>
    </form>
    
{% endblock %}
