{% extends 'base.html' %}

{% block content %}
<h1>Update Book {{ book.id }}</h1>
<form action="/books/{{ book.id }}" method="POST">
    <label for="title">Title:</label>
        <input type="text" name="title" value="{{ book.title }}"><br>
    <label for="author">Author:</label>
        <input type="text" name="author" value="{{ book.author }}"><br>
    <label for="published_year">Published Year:</label>
        <input type="text" name="published_year" value="{{ book.published_year }}"><br>
    <input type="submit" value="Update">
</form>
{% endblock content %}